.switchesContainer {
  display: flex;
  justify-content: center;

}
.switches {
  display: flex;
  gap: 0.5rem;

}
.networth {
  display: flex;
  justify-content: center;
}
.networth table {
  width: 600px;
}

.columnNumber {
  width: 53px;
}
.columnName {
  width: 398px;
}
.columnLost {
  width: 148px;
}

.nwMain {
  padding: 4rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;

}