.switchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.switches {
  display: flex;
  gap: 0.5rem;

}
.nwContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nwContainer p {
  margin-top: 0;
}

.nwContainer table {
  width: 600px;
}

.columnNumber {
  width: 53px;
}
.columnName {
  width: 398px;
}
.columnLost {
  width: 148px;
}

.nwMain {
  padding: 4rem 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;

}