
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  cursor: pointer;
}

.lost {
  color: hsl(43deg 100% 27%);
}
@media (prefers-color-scheme: dark) {
  .lost {
    color: hsl(43deg 100% 73%);
  }
}


.loadTransactions {
  text-align: center;
}

.loadTransactions {
  /* margin: 2rem 0; */
  line-height: 1.5;
  /* font-size: 1rem; */
}

@media (max-width: 600px) {
  .loadTransactions {
    /* font-size: 0.8666666666666667rem; */
    /* padding: 0 1rem; */
  }
}
